<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.monero">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Application.ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <activity
            android:name=".main.MainActivity"
            android:theme="@style/MyAppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".addActivities.AddActivity"
            android:label="@string/title_activity_add"
            android:theme="@style/MyAppTheme.NoActionBar" />
        <activity
            android:name=".activitydetail.DetailActivity"
            android:theme="@style/MyAppTheme.NoActionBar" />
        <activity
            android:name=".tags.TagActivity"
            android:theme="@style/MyAppTheme.NoActionBar" />
        <activity android:name=".payeeSelector.PayerSelectorActivity" />
        <activity
            android:name=".auth.SignInActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".auth.FireBaseAuthActivity" />
        <activity android:name=".auth.EditProfileActivity"></activity>
    </application>

</manifest>